li {
    list-style: none;
}

.tab-wrapper.sprint-wrapper {
    padding: 0;
    margin: 0;
}

.sprint-wrapper {
    background-image: url('../../assets/images/bg-02.png');
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: cover;
    transition: all 1s ease;
    margin: 0 50%-55px;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sprint__intro, .sprint__statistic {
    background-color: #078f81;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sprint__intro-title, .sprint__counter {
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 60px;
    color: #6cffde;
    /* color:white;
      color: #F9BA48; */
    opacity: .8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 13px;
}

.sprint__counter {
    letter-spacing: 0;
    margin-bottom: 30px;
    color: #05ee22;
}

.sprint__intro-description, .sprint__card-main-word, .sprint__card-main-translation, .sprint__card-main-info, .sprint__statistic {
    text-align: center;
    max-width: 565px;
    margin: 0 auto 58px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #fff;
}

.sprint__statistic {
    opacity: 1;
    max-width: 100%;
    margin: 0!important;
}

.sprint__card-main-word, .sprint__card-main-translation, .sprint__card-main-info, .sprint__statistic  {
    margin: 20px auto 20px;
    font-size: 24px;
    line-height: 20px;
}

.sprint__statistic {
 line-height: 40px;
}

.sprint__statistic-message {
    color: #d8ec0e;
}

.sprint__card-main-word {
    font-size: 36px;
}

.sprint__card-main-info {
    color: #d8ec0e;
    height: 20px;
    font-size: 15px;
}

.sprint__intro-button, .sprint__card-btn-item, .sprint__statistic-btn-item {
    margin:  0 auto;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    padding: 15px;
    min-width: 162px;
    color: #fff;
    background: #00c49d;
    /* background: #FF8438;
      background: #F9BA48; */
    /* background: #4331C0; */
    border-radius: 4px;
    transition: all .15s ease;
    box-sizing: border-box;
}

.sprint__statistic-btn {
    margin-top: 20px;
}

.sprint__intro-button:hover {
    opacity: .9;
}

.sprint__card-btn-item:hover {
    opacity: .9;
}

.sprint__statistic-btn-item:hover {
      opacity: .9;
}
/*--------------------*/

.sprint__card, .sprint__card-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sprint__counter, .sprint__card-main-indicator {
    display: flex;
    justify-content: center;
}

.sprint__card {
    width: 500px;
    height: 350px;
    background-color: rgba(255,255,255,0.1);
    position: relative;
    border-radius: 15px;
    color: white;
    box-shadow: 0 0 19px 0 #272323;
}

.sprint__card_highlight {
    box-shadow: 0 0 30px 0 #2fee5b;
    transition-property: box-shadow;
    transition-duration: 100ms;
}

.sprint__card-main-indicator-item {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: #1e2f55;
    margin: 3px;
}

.sprint__card-main-indicator-item-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.indicator-item-highlight {
    background-color: #05ee22;
}

.sprint__card-btn-item:first-child {
    background-color: #c61818;
}

.sprint__card-btn-item:nth-child(2) {
    background-color: #23a532;
}

.sprint__timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprint__timer-wrap {
    position: absolute;
    left: calc(50% + 275px);
    top: calc(50% + -100px);
    height: 100px;
    width: 100px;
    text-align: center;
}

.sprint__timer-wrap .sprint__timer-time {
    color: white;
    display: inline-block;
    line-height: 100px;
}

.sprint__timer-wrap svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

.sprint__timer-wrap svg circle {
    stroke-dasharray: 251px;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 5px;
    stroke: rgba(255,255,255,0.5);
    fill: none;
}

@media (min-width: 320px) and (max-width: 800px) {
    /*.sprint__timer-wrap {*/
    /*    transform: scale(0.5);*/
    /*}*/
    .sprint__intro {
        margin-left: 55px;
    }
    .sprint__statistic {
        margin: 0 0 0 55px!important;
    }
    .sprint__card {
        width: 70%;
        max-width: 500px;
    }
    .sprint__timer-wrap {
        left: calc(50% + 275px);
        top: calc(50% + -100px);
        height: 40px;
        width: 40px;
    }

    .sprint__timer-wrap .sprint__timer-time {
        line-height: 400px;
    }

    .sprint__timer-wrap svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 400px;
        transform: rotateY(-180deg) rotateZ(-90deg);
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .sprint__card-btn-item {
        min-width: 107px;
    }
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 251px;
    }
}
