.speak-it {
  width: 100%;
  height: 100%;
}

.speak-it__main {
  background-color: #ffffff;
  border-radius: 20px;
  width: 90%;
  padding: 30px 0;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 5px rgba(221, 221, 221, 1);
}


.speak-it__main__hints-block {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
}

.blocked {
  opacity: 0.5;
  pointer-events: none
}

.speak-it__main__main-block__image-block {
  display: flex;
  justify-content: center;
}

.speak-it__main__hints-block__audio {
  width: 37px;
  height: 37px;
  background-image: url(../../../assets/icons/volume.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: 0;
  background-color: #ffffff;
}



.speak-it__main__main-block__cards-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.speak-it__main__main-block__buttons-block {
  display: flex;
  justify-content: center;
}

.speak-it__main__main-block__cards-block__card {
  position: relative;
  width: 160px;
  height: 50px;
  border: solid black 1px;
  margin: 15px;
}

.speak-it__main__main-block__cards-block__card__wrapper {
  width: 100%;
  height: 100%;
}

.speak-it__main__main-block__cards-block__card__audio {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-image: url(../../../assets/icons/volume.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.speak-it__main__main-block__cards-block__card__audio:hover {
  background-color: #f8f2ee;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s ease;
}

.speak-it__main__main-block__cards-block__card__title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speak-it__main__main-block__cards-block__card__transcription {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border: 1px solid red;
}

.speak-it__main__main-block__image-block {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.speak-it__main__main-block__translate-block{
  display: flex;
  justify-content: center;
}

.speak-it__main__main-block__input {
}

.speak-it__main__main-block__input__wrapper {
  display: flex;
  justify-content: center;
}

