.speak-it {
  height: 90vh;
}

.speak-it__start-page {
  background-image: url(../../../assets/images/bg-05.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speak-it__start-page__start-btn {
  margin:  0 auto;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    padding: 15px;
    min-width: 162px;
    color: #fff;
    background: #00c49d;
    border-radius: 4px;
    transition: all .15s ease;
    box-sizing: border-box;
}

.speak-it__start-page__start-btn:hover {
  opacity: .9;
}

.speak-it__start-page__title {
  font-size: 40px;
  text-align: center;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 60px;
    color: #6cffde;
    opacity: .8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 13px;
}

.speak-it__start-page__description {
  text-align: center;
    max-width: 565px;
    margin: 0 auto 58px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #fff;
    opacity: .8;
}

.speak-it__main {
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 1100px;
  padding: 30px 0;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 5px rgba(221, 221, 221, 1);
}


.speak-it__main__hints-block {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
}

.blocked {
  opacity: 0.5;
  pointer-events: none
}

.speak-it__main__main-block__image-block {
  display: flex;
  justify-content: center;
}

.speak-it__main__hints-block__audio {
  width: 37px;
  height: 37px;
  background-image: url(../../../assets/images/sound.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  border: 0;
  background-color: #ffffff;
}



.speak-it__main__main-block__cards-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.speak-it__main__main-block__buttons-block {
  display: flex;
  justify-content: center;
}

.speak-it__main__main-block__cards-block__card {
  position: relative;
  width: 160px;
  height: 50px;
  border: solid black 1px;
  margin: 15px;
  background-color: #f8f2ee;
  border: 2px solid #f7cd92;
}

.speak-it__main__main-block__cards-block__card__wrapper {
  width: 100%;
  height: 100%;
}

.speak-it__main__main-block__cards-block__card__audio {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-image: url(../../../assets/icons/volume.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.speak-it__main__main-block__cards-block__card__audio:hover {
  background-color: #f8f2ee;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s ease;
}

.speak-it__main__main-block__cards-block__card__title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speak-it__main__main-block__cards-block__card__transcription {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  animation: wave 1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.speak-it__main__main-block__image-block {
  margin: 0 auto;
  margin-top: 30px;
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.speak-it__main__main-block__translate-block{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.speak-it__main__main-block__buttons-block__start-recognition, .speak-it__main__main-block__buttons-block__next {
  position: relative;
  width: 150px;
  height: 50px;
  margin: 20px 30px;
  background-color: #f7cd92;
  border-radius: 10px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  color: #1a3b71;
  cursor: pointer;
}

.speak-it__main__main-block__buttons-block__start-recognition:hover, .speak-it__main__main-block__buttons-block__next:hover {
  box-shadow: 0 0 0 2px #D2973D inset, 0 0 0 4px white inset;
}

.speak-it__main__main-block__input {
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #f7cd92;
  background-color: #f8f2ee;
  height: 30px;
}

.speak-it__main__main-block__input__wrapper {
  display: flex;
  justify-content: center;
}

@keyframes wave {
  0% {
      background-color: #fff;
  }
  50% {
      background-color: #b8c6ff;
  }
  100% {
      background-color: #3c649f;
  }
}

@keyframes speak {
  0% {
     opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.speak {
  position: absolute;
  right: 17px;
  top: 18px;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.78);
  box-shadow: 0 0 0px 3px white,
              0 0 0px 5px rgba(255, 0, 0, 0.78);
  animation: speak 1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
