.english-puzzle {
  height: 90vh;
}

.english-puzzle__start-page {
  background-image: url(../../../assets/images/bg-08.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.english-puzzle__start-page__start-btn {
  margin:  0 auto;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    padding: 15px;
    min-width: 162px;
    color: #fff;
    background: #00c49d;
    border-radius: 4px;
    transition: all .15s ease;
    box-sizing: border-box;
}

.english-puzzle__start-page__start-btn:hover {
  opacity: .9;
}

.english-puzzle__start-page__title {
  text-align: center;
  font-size: 40px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 60px;
    color: #6cffde;
    opacity: .8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 13px;
}

.english-puzzle__start-page__description {
  text-align: center;
    max-width: 565px;
    margin: 0 auto 58px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #fff;
    opacity: .8;
}

.english-puzzle-main {
  background-color: #ffffff;
  border-radius: 20px;
  width: 60%;
  padding: 30px 0;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 5px rgba(221, 221, 221, 1);
}

.english-puzzle-main__control-block__choice-other-word__title {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.english-puzzle-main__control-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10%;
}

.english-puzzle-main__control-block__choice-other-word {
  display: flex;
  justify-content: center;
}

.english-puzzle-main__active-hints {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.english-puzzle-main__control-block__hints__audio-repeat {
  border: 0;
  background-image: url(../../../assets/images/sound.svg);
  width: 40px;
  height: 40px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
}

.english-puzzle-main__control-block__hints__translate {
  border: 0;
  background-image: url(../../../assets/english-puzzle/translation.svg);
  width: 40px;
  height: 40px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.english-puzzle-main__result-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vw;
  margin: 0 auto;
  margin-top: 60px;
}

.english-puzzle-main__active-phrase {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  margin-top: 70px;
  width: 50vw;
  flex-wrap: wrap;
}

.english-puzzle-main__btn-block {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.english-puzzle-main__btn-block__check, .english-puzzle-main__btn-block__dnt-know, .english-puzzle-main__btn-block__continued {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  margin-right: 50px;
  background-color: #f7cd92;
  border-radius: 10px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  color: #1a3b71;
  cursor: pointer;
}

.english-puzzle-main__stage {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.english-puzzle-main__active-phrase__wrapper {
  height: 70px;
  background-color: #eee5d8;
  border-radius: 5px;
  min-width: 50px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  transition-duration: .5s;
  
}


button:active, button:focus {
  outline: none;
}

.english-puzzle-main__btn-block button:hover {
  box-shadow: 0 0 0 2px #D2973D inset, 0 0 0 4px white inset;
}

.english-puzzle-main__active-phrase__wrapper__element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: #f7cd92;
  transition-duration: .5s;
  cursor: pointer;
}

.english-puzzle-main__result-block__element {
  min-width: 50px;
  height: 70px;
  background-color: #eee5d8;
  margin: 5px;
  border-radius: 5px;
}

.hide {
  opacity: 0;
}

.blocked {
  opacity: 0.5;
  pointer-events: none;
}

.hovered {
  background-color: #193b6e;
}


@media(max-width:1600px) {
  .english-puzzle-main {
    width: 70%;
  }
}

@media(max-width:1300px) {
  .english-puzzle-main {
    width: 75%;
  }
}

@media(max-width:1100px) {
  .english-puzzle-main {
    width: 85%;
  }
}

@media(max-width:900px) {
  .english-puzzle-main {
    width: 95%;
  }

  .english-puzzle-main__result-block {
  width: 70vw;
  }

  .english-puzzle-main__active-phrase {
    width: 70vw;
  }
}

@media(max-width:500px) {
  .english-puzzle-main__result-block {
    width: 90vw;
    }
  
  .english-puzzle-main__active-phrase {
    width: 90vw;
  }
}

@media(max-width:700px) {
  .english-puzzle__start-page__title {
    font-size: 25px;
  }
}

@media(max-width:500px) {
  .english-puzzle-main__result-block {
    width: 90vw;
  }

  
  .english-puzzle-main__active-phrase {
    width: 90vw;
  }

}