/*CHECK BOX STYLE */

.checkbox-wrapper {
    display: inline-block;
    float: right;
    margin: 15px;
}

.checkbox {
    display: none;
}

.checkbox-style {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 32px;
    background-color: gray;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.checkbox-style::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border: 2px solid gray;
    border-radius: 50%;
    background-color: white;
    top: -3px;
    left: 0;
    transition: all 0.2s linear;
}

.checkbox:checked + .checkbox-style::before {
    left: 14px;
    border-color: #1c5f9a;
}

.checkbox:checked + .checkbox-style {
    background-color: #1c5f9a;
}

/* NIGHT MODE */

.night-mode {
    filter: invert(85%);
    background-color: #A07E4F;
}

/* DESTROY TAB */
.destroy {
    transition: all 0.4s ease;
    opacity: 0;
}



