.button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}

.landing {
    background-image: url("../../../assets/images/main-phone.svg");
    background-position: 80% -150px;
    background-size: 600px;
    background-repeat: no-repeat;
}

.registration {
    padding: 20px 0 60px;
    background-image: url("../../../assets/images/main-phone.png");
    background-position: 60% 150px;
    background-size: 380px;
    background-repeat: no-repeat;
}

.registration__wrapper {
    padding: 0 40px;
    min-height: 400px;
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
}

.registration__lead {
    width: 80%;
    font-weight: 700;
    font-size: 41px;
    line-height: 50px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.registration__button-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
}

.registration__button {
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid transparent;
    border: 1px solid #103482;
    margin-right: 10px;
    margin-top: auto;
    transition: all .15s ease;
}

.registration__button--new {
    background-color: #103482;
    color: white;
}

.registration__button:hover,
.registration__button:active {    
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.registration__button--new:hover,
.registration__button--new:active   {
    background-color: white;
    color: #103482;
}

.registration__button--enter:hover, 
.registration__button:active {
    background-color: #103482;
    color: white;
}

@media (max-width: 1090px) {
    .registration {
        background-position: 70% 150px;
        background-size: 380px;
    }
}

@media (max-width: 930px) {
    .registration {
        background-position: 80% 150px;
        background-size: 380px;
    }
}

@media (max-width: 830px) {
    .registration {
        background-position: 90% 150px;
        background-size: 380px;
    }
}

@media (max-width: 760px) {
    .registration {
        background-position: 100% 150px;
        background-size: 380px;
    }
}

@media (max-width: 700px) {
    .registration__wrapper {
        min-height: 200px;
        align-items: start; 
    }

    .registration {
        background-size: 380px;
        background-position-x: center;
        background-position-y: 240px;
        padding-bottom: 285px;
    }
    
    .registration__lead {
        width: 100%;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 40px;
        letter-spacing: 0;
    }

    .registration__desc {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }   
    
    .registration__button-wrapper {
        width: 100%;
        margin-right: auto;
        margin: 0;
    }

    .registration__button--enter {
        background-color: #ffffff;
    }
}

@media (max-width: 600px) {
    .registration__button-wrapper {
        width: 100%;
        margin: 0; 
        display: flex;
        justify-content: center;
    }    

    .registration {
        background-position-x: center;
        background-position-y: 240px;
        background-size: 380px;
        padding-bottom: 275px;
    }

    .registration__lead {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 40px;
    }
}

@media (max-width: 425px) {
    .registration__desc {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 40px;
    } 
}
