.slider {
    padding-top: 88px;
    position: relative;
    width: 1020px;
    margin: 0 auto;
}

.slider__pagination {
    font-size: 0;
    line-height: 0;
    width: 960px;
    padding-bottom: 11px;
    margin-bottom: 11px;
    
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider input[type="radio"] {
    display: none;
}

.slider__label {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #8b878450;
    border: 0;
    outline: none;
}

.slider__label:last-of-type {
    margin-right: 0;
}

.slider__btn-1:checked ~ .slider__item-01,
.slider__btn-2:checked ~ .slider__item-02,
.slider__btn-3:checked ~ .slider__item-03,
.slider__btn-4:checked ~ .slider__item-04 {
    display: block;
}

.slider__btn-1:checked ~ .slider__pagination label[for="slider__btn-1"],
.slider__btn-2:checked ~ .slider__pagination label[for="slider__btn-2"],
.slider__btn-3:checked ~ .slider__pagination label[for="slider__btn-3"],
.slider__btn-4:checked ~ .slider__pagination label[for="slider__btn-4"] {
    background-color: #8b8784;
    background-color: white;
}

.slider__item {
    display: none;
}

.slider__item-01,
.slider__item-02,
.slider__item-03,
.slider__item-04 {
    background-color: #cccc;
    min-height: 700px;
    min-width: 1020px;
}
