.account {
    height: 773px;
    max-width: 400px;
    white-space: nowrap;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 gray;
}

.account i {
    transform: scale(1.5);
    margin: 15px 25px 15px 25px;
}

.account hr {
    width: 95%;
    margin: 0 auto;
}

.account-row {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.account-section {
    text-align: center;
    margin: 15px;
}

.account-section-title {
    position: relative;
    color: gray;
    font-weight: 300;
}

.account-section-title:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 70px;
    background-color: gray;
    left: -85px;
    top: 11px;
}

.account-section-title:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 70px;
    background-color: gray;
    right: -85px;
    top: 11px;
}

.goal:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 50px;
    background-color: gray;
    left: -65px;
    top: 11px;
}

.goal:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 50px;
    background-color: gray;
    right: -65px;
    top: 11px;
}

.account .input-name,
.account .input-name:focus {
    border: none;
    outline: none;
    color: #1a3b71;
}

/* SETTINGS CHECKBOX STYLE */

.checkbox-wrapper {
    margin: 0 15px 0 auto;
}

.checkbox {
    display: none;
}

.checkbox-style {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 32px;
    background-color: gray!important;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.checkbox-style::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border: 2px solid gray!important;
    border-radius: 50%;
    background-color: white!important;
    top: -3px;
    left: 0;
    transition: all 0.2s linear;
}

.checkbox:checked + .checkbox-style::before {
    left: 14px;
    border-color: #1c5f9a!important;
}

.checkbox:checked + .checkbox-style {
    background-color: #1c5f9a!important;
}

/* SETTINGS INPUT TEXT STYLE */

.input-text-wrapper {
    margin: 0 15px 0 auto;
    display: flex;
    align-items: center;
}

.input-text-wrapper input {
    border: none;
    width: 35px;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    color: gray;
}

.input-text-wrapper input:focus {
    outline: none;
}

.input-text-wrapper i {
    margin: 0;
    padding: 5px;
    font-size: 0.6em;
}

.input-text-wrapper i:active {
    color: crimson;
}

