.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: inherit;
    z-index: 1000;
}

.auth-wrapper {
    position: relative;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 gray;
    height: 280px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 150px 10px 20px 10px;
}

.auth-logo {
    position: absolute;
    top: -100px;
}

.auth-title {
    margin: 10px 0 15px 0;
}

.input-container {
    position: relative;
}

.input-container i:not(.show-password) {
    position: absolute;
    left: 5px;
    top: 13px;
    font-size: 1.2em;
}

.input-container svg {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 1.2em;
    color: red;
}

.show-password {
    position: absolute;
    right: 5px;
    top: 13px;
    font-size: 1.2em;
    cursor: pointer;
}

.auth input:not([type="submit"]) {
    height: 35px;
    width: 250px;
    border: none;
    border-bottom: 2px solid gray;
    transition: border-bottom-color 1s ease;
    padding-left: 30px;
    margin: 5px 0;
    color: inherit;
}

.auth .user-password {
    padding-right: 35px;
    width: 220px!important;
}

.auth input:focus:not([type="submit"]) {
    outline: none;
    border-color: #1a3b71;
}

.btn {
    cursor: pointer;
    border: none;
    height: 30px;
    width: 120px;border-radius: 5px;
    color: white;
    background-color: #1a3b71;
}

.btn:focus {
    outline: none;
}

.user-create-btn {
    position: absolute;
    bottom: 25px;
}

.user-login-btn {
    position: absolute;
    bottom: 25px;
}

.user-create-btn:hover {
    box-shadow: 0 0 5px 0 gray;
}

.route-to-user-create,
.route-to-user-login {
    position: absolute;
    bottom: 5px;
    font-size: 0.9em;
    cursor: pointer;
    font-weight: 300;
}

.route-to-user-create:hover,
.route-to-user-login:hover {
    font-weight: 500;
}


.error-message {
    color: crimson;
    font-size: 0.8em;
    max-width: 250px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); color: red }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 0.5s;
}
