@import "~normalize.css";
@import "auth.css";
@import "menu.css";
@import "account.css";
@import "utils.css";
@import "controlPanel/controlPanel.css";
@import "controlPanel/wordList.css";
@import "games/games_page.css";
@import "dictionary.css";
@import "trainingCards/trainingCards.css";
@import "../js/games/skinWalkers/skinwalkerStyle.css";
@import "games/savanna.css";
@import "./games/english-puzzle/englishPuzzle.css";
@import "games/sprint.css";

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #f8f2ee;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    color: #1a3b71;
    transition: filter 0.5s ease,
                background-color 0.5s ease;
}

hr {
    opacity: 0.5;
}

.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.tab-wrapper {
    margin: 55px 10px 20px 65px;
    width: 100%;
}

@media  (max-width : 400px) {
    .tab-wrapper {
        margin: 55px 10px 20px 10px;
    }
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    height: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1a3b71;
}
