.team {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.team__title {
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 80px;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1078px;
    min-height: 400px;
    border-radius: 15px;    
    flex-wrap: wrap;
    padding: 0 20px;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 20px 178px; 
}

.person__desc:first-of-type {
    position: relative;
}

.person:first-of-type::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 152px;
    right: 20px;
    z-index: 50;
    background-image: url("../assets/images/crown.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #CCE6C1;
    box-shadow: 0 0 15px 0 gray;
}

.person svg path {
    transition: all 2s easy;
}

.person svg:hover path {
    fill: #1a3b71;
}

.person__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: #fff;
    border-radius: 15px; 
    padding: 20px;
    padding-top: 86px;
    padding: 66px 20px 20px;
    position: absolute; 
    top: 180px;
    box-shadow: 0 0 15px 0 gray;
    min-width: 150px;
}

.person__fullname {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 6px;
    text-align: center;
}

.person__role {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    color: #939393;
    margin-bottom: 10px;
    text-align: center;
}

.person__photo {
    width: 230px;
    height: 230px;
    background-color: grey;
    margin-bottom: 22px;
    background-image: url("../assets/images/placeholder.png");
    background-position: center;
    background-size: contain;
    position: relative;
    z-index: 20;
    overflow: hidden;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
}

.person__photo--0 {
    mask-image: url("../assets/images/blob-0.svg");
    -webkit-mask-image: url("../assets/images/blob-0.svg");
}

.person__photo--1 {
    mask-image: url("../assets/images/blob-4.svg");
    -webkit-mask-image: url("../assets/images/blob-4.svg");
}

.person__photo--2 {
    mask-image: url("../assets/images/blob-2.svg");
    -webkit-mask-image: url("../assets/images/blob-2.svg");

}

.person__photo--3 {
    mask-image: url("../assets/images/blob-1.svg");
    -webkit-mask-image: url("../assets/images/blob-1.svg");
}

.person__photo--4 {
    mask-image: url("../assets/images/blob-7.svg");
    -webkit-mask-image: url("../assets/images/blob-7.svg");
}

.person__photo--5 {
    mask-image: url("../assets/images/blob-6.svg");
    -webkit-mask-image: url("../assets/images/blob-6.svg");
}

@media (max-width: 1024px) {
    .team-list {
        width: 100%;
    }    
}