.english-puzzle {
  height: 90vh;
}
.english-puzzle-start__title {
  text-align: center;
}

.english-puzzle-start__description {
  text-align: center;
}

.english-puzzle-main__control-block {
  display: flex;
  justify-content: space-around;
}

.english-puzzle-main__control-block__choice-other-word {
  display: flex;
  justify-content: center;
}

.english-puzzle-main__active-hints {
  display: flex;
  justify-content: center;
}

.english-puzzle-main__result-block {
  display: flex;
  justify-content: center;
}

.english-puzzle-main__active-phrase {
  display: flex;
  justify-content: center;
}

.english-puzzle-main__btn-block {
  display: flex;
  justify-content: center;
}