.word-list {
    max-width: 800px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 gray;
}

.word-list input[type='checkbox'] {
    transform:scale(1.2);
    cursor: pointer;
}

.word-list-header input[type='checkbox'] {
    margin-right: 10px;
}

.word-list-header {
    margin: 10px;
}

.word-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: auto;
}

.word-list-header {
    margin-bottom: 10px;
}

.word-search {
    padding: 8px 10px;
    color: #37383c;
    transition: all 0.2s ease-in;
    caret-color: #37383c;
}

.word-search:focus {
    outline-color: #2b95ee;
}


.add-to-dictionary {
    padding: 8px 14px;
    cursor: pointer;
    color: gray;
}

.word-list-row {
    display: flex;
    margin: 10px;
}

.word-list-row i {
    margin: 0 15px;
    cursor: pointer;
}

.word-list-row .dash {
    margin: 0 10px;
}
