@import "skinwalkerStart.css";

.games__skinwalkers__start {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 60%;
    padding: 30px 0;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 5px rgba(221, 221, 221, 1);
    height: 520px;
}

.skinwalker__start__description {
    width: 90%;
    text-align: center;
}

.skinwalker__title {
    display: flex;
    justify-content: center;
    border: 1px solid #1a3b71;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 265px;
    flex-wrap: wrap;
    line-height: 25px
}

.skinwalker__title p {
    width: 100%;
}

.skinwalker__title__link {
    text-decoration: underline;
}

.skinwalker__title__link:hover {
    color: #698d59;
    cursor: pointer;
}

.skinwalker__checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skinwalker__checkbox_description {
    line-height: 20px;
    border: 1px solid #1a3b71;
    width: 265px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
}

.skinwalker__checkbox_description:hover {
    color: white;
    background-color: #1a3b71;
    transition: 0.3s;
}

.skinwalker__checkbox_active {
    color: white;
    background-color: #1a3b71;
}

.skinwalker__buttons__block {
    display: flex;
    padding: 10px 55px;
    flex-direction: column;
    align-items: center;
} 

.skinwalker__settings__window {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 10px 55px;
}

.skinwalker__buttons__block_checked {
    padding: 10px;
    border: 1px solid #1a3b71;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 10px;
    width: 65%;
    min-width: 275px;
    text-align: center;
}

.skinwalker__buttons__block_checked:hover {
    color: white;
    background-color: #1a3b71;
    transition: 0.3s;
    cursor: pointer;
}

.skinwalker__choise-difficult {
    padding: 10px;
    border: 1px solid #1a3b71;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    color: white;
    background-color: #1a3b71;
    outline: none;
}

.skinwalker__game__start-button-prev,
.skinwalker__game__start-button-go {
    padding: 10px;
    border: 1px solid #1a3b71;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #1a3b71;
    outline: none;
    width: 100px;
}

.skinwalker__button__game__zone {
    width: 100%;
    text-align: right;
    padding-right: 10%;
}

.skinwalker__game__start-button-go {
    opacity: 0.2;
}

.skinwalker__none-opacity {
    opacity: 0;
    visibility: hidden;
}

.skinwalker-events {
    opacity: 0.5;
    pointer-events: none;
}

.skinwalker-opacity {
    visibility: visible;
    transition: 1s;
    opacity: 1;
}

.skinwalker__game {
    width: 70%;
    display: flex;
    justify-content: center;
}

.skinwalker__game__zone {
    display: flex;
    justify-content: center;
    width: 65%;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: 0px 0px 5px 5px rgba(221, 221, 221, 1);
    padding: 20px 0;
}

.skinwalker__word__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    width: 800px;
    perspective: 1000;
}

.skinwalker__word {
    width: 160px;
    height: 40px;
    background: #CCE6C1;
    margin: 10px;
    box-shadow: 0 0 10px 0 grey;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

.skinwalker__word__title-back,
.skinwalker__word__title-front,
.skinwalker__word__repeat {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    pointer-events: none;
    text-align: center;
}

.skinwalker__shirt {
    width: 160px;
}

.skinwalker__word__title-front img {
    z-index: 2;
    pointer-events: none;
}

.skinwalker__word__title-back {
    transform: rotateY(180deg);
}

.skinwalker_rotate {
    transform: rotateY(180deg);
}

.skinwalker-error {
    background-color: red;
    color: white;
}

.skinwalker_green {
    background: #698d59;
}

.skinwalker_animation {
    animation: opacity 1s ease infinite;
}

@keyframes opacity{
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
 }

.skinwalker__finish__buttons {
    width: 100%;
    text-align: center;
}

.skinwalker__finish__buttons button {
    padding: 10px;
    border: 1px solid #1a3b71;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #1a3b71;
    outline: none;
    width: 140px;
}

.skinwalker__sound-button {
    width: 37px;
    height: 37px;
    background-image: url(../../../../assets/images/sound.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
    opacity: 0.3;
}

.skinwalker__game__count {
    width: 100%;
    height: 40px;
    text-align: center;
}

@media(max-width:1600px) {
    .games__skinwalkers__start {
        width: 70%;
    }
}

@media(max-width:1300px) {
    .games__skinwalkers__start {
        width: 75%;
    }
    .skinwalker__game__zone {
        width: 90%;
    }
}

@media(max-width:1100px) {
    .games__skinwalkers__start {
        width: 85%;
    }
    .skinwalker__word {
        margin: 10px 5px;
        width: 145px;
    }
    .skinwalker__shirt {
        width: 145px;
    }
}

@media(max-width:900px) {
    .skinwalker__game__zone {
        width: 100%;
    }
    .games__skinwalkers__start {
        width: 95%;
    }
    .skinwalker__start__intro__description {
        padding: 0 50px;
    }
    .skinwalker__start__intro {
        padding: 0;
        text-align: center;
    }
}

@media(max-width:400px) {
    .skinwalker__word {
        margin: 10px 5px;
        width: 130px;
    }
    .skinwalker__shirt {
        width: 130px;
    }
}
